body {
    left: 0;
    top: 0;
    width: 1280px;
    height: 800px;
    opacity: 80%;
    background: url(https://img.js.design/assets/img/661103dc1f352bdb4a63da04.jpg#5117363393e6d91ffb43515f8412f93f);
}